<main>
  <section class="image-container">
    <img alt="plane image" i18n-alt class="plane-image" src="assets/undraw1_order_confirmed_re_g0if.webp">
  </section>
  <section class="ticket-details">
    <h1 class="header">{{ header }}</h1>
    <h2 i18n>
      You're closer to your destination!
    </h2>
    <p i18n>
      Thank you for flying with us. Your ticket
      is being processed.
    </p>
    <table>
      <tr>
        <th i18n>Cabin</th>
        <th i18n>Miles</th>
        <th i18n>Date</th>
        <th i18n>Tax percentage</th>
        <th i18n>Amount</th>
      </tr>
      <tr>
        <td>Main Cabin</td>
        <td>{{receipt.miles | number}}</td>
        <td>{{receipt.purchaseDate| date}}</td>
        <td>{{receipt.cityTax| percent:'1.2-5'}}</td>
        <td>{{receipt.currency | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td i18n class="total-amount-label">Total Amount</td>
        <td class="total-amount">{{1529.22 | currency}}</td>
      </tr>
    </table>
  </section>
  <img alt="aa icon" i18n-alt class="aa-icon" src="assets/noun1-shipping-4326216-63D1FF.png">
  <span i18n class="plural-expressions">Updated: {counter, plural,
    =0 {just now}
    =1 {one minute ago}
    other {{{counter}} minutes ago}}
    <br>
    <br>
    <button (click)="changeCounter(-1)">-</button>
    <button (click)="changeCounter(1)">+</button>
  </span>
</main>
